

<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 outline">
    <div class="input-group">
      <span class="btn btn-default btn-file">
          <input type="file" name="idea[cover_img]" id="idea_cover_img">
          Browse...
      </span>
      <input type="text" placeholder="Choose a file...">
    </div>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description %>
      </div>
      <%= hidden_field_tag :alteredStatus, "0" %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
    <div class="col-md-4"></div>
    <% end %>
  </div>
</div>
