
<div class="container">
  <div class="row text-center">
    <h1 id="headerIdeas">
      These are your ideas.<br>Make the most of them.
    </h1>
  </div>
  <div class="row">
        <% @ideas.each do |idea| %>
        <!-- This is the overlay for the hover -->
        <div class="col-md-3 item text-center">
          <%= image_tag("cover_images/#{idea.cover_img}") %>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
                 <%= link_to '', resources_path(:idea_id => idea.id), :class => 'fa fa-pencil-square-o' %>
            </button>
            <button type="button" class="btn btn-default">
                <%= link_to '', idea, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'fa fa-times' %>
            </button>
            <button type="button" class="btn btn-default">
                <i class="fa fa-share-alt"></i>
            </button>
          </div>
          <div class="overlay" ng-controller="IdeaIndexCtrl">
            <h3 class="title"><%= idea.name %></h3>
            <div class="description">
              <p>
                <%= idea.description %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

