<div class="row">
  <%= link_to '', new_idea_path, :class => 'pull-right glyphicon glyphicon-plus glyphicon-2x' %>
</div>
<div class="row">
  <div id="masonry" >
    <% @ideas.each do |idea| %>
    <div class="item">
      <div>
        <%= image_tag("cover_images/#{idea.cover_img}") %>
        <%= idea.name %><br />
        <%= idea.description %>
      </div>
      <div>
        <%= link_to '', edit_idea_path(idea), :class => 'dock-item glyphicon glyphicon-pencil' %>
        <%= link_to '', idea, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'glyphicon glyphicon-remove' %>
      </div>
    </div>
    <% end %>
  </div>
</div>

