<h1>Ideas</h1>
<% @count = 0 %>
<table class="table">
  <tbody>
    <% @ideas.each do |idea| %>
    <% if @count == 5 %>
      <tr>      
    <% end %> 

      <td>
        <div>
        <%= idea.name %><br />
        <%= idea.description %>
        </div>
        <div>
          <%= link_to '', edit_idea_path(idea), :class => 'dock-item glyphicon glyphicon-pencil' %>
          <%= link_to '', idea, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'glyphicon glyphicon-remove' %>
        </div>  
    </td>
    <% if @count == 5 %>
      </tr>   
      <% @count = 0 %>   
    <% end %> 
    <% @count+=1 %>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Idea', new_idea_path %>
