<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div>
	<%= f.label :attachment %><br />
	<%= f.file_field :attachment%></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
    
  <div id="dragndropimage">
	<%= image_tag "upload_icon.png" %>
  </div>
<% end %>
