<h1>Listing resources</h1>
<div>
  <%= link_to "", edit_idea_path(session[:idea_id]), :class => 'pull-right glyphicon glyphicon-cog glyphicon-2x' %>
</div>
<div id="resource_container" class="row masonry">

  <% @resources.each do |resource| %>
    <div class="col-xs-3 item">

       <div class="overlay" ng-controller="IdeaIndexCtrl">
         <h3 class="title"><%= resource.filename %></h3>
         <div class="description">
           <p>
             <%= resource.comment %>
           </p>                                                                          </div>
         <%= link_to '', edit_resource_path(resource), :class => 'dock-item glyphicon glyphicon-pencil' %>
         <%= link_to '', resource, method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'glyphicon glyphicon-remove' %>
       </div>
  <% end %>
</div>
<br />
<%= render "uploadfile" %>
