<h1>Listing resources</h1>
<div>
  <%= link_to "Edit Idea", edit_idea_path(session[:idea_id]) %>
</div>
<div id="resource_container">
<table>
<% @resources.each do |resource| %>
  <tr>
    <td><%= link_to resource.filename %></td>
    <td><%= resource.comment %></td>
    <td><%= link_to '', edit_resource_path(resource), :class => 'dock-item glyphicon glyphicon-pencil' %></td>
    <td><%= link_to '', resource, method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'glyphicon glyphicon-remove' %></td>
  </tr>
<% end %>
</table>
</div>
<br />
<%= render "uploadfile" %>
